                            /*Header Styling*/
* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0 auto;
  text-align: center;
}
.container {
  display: flex;
}
.blackwall {
  background-color: black;
}
.max-width {
  width: 100%;
}
.column {
  flex-direction: column;
}
.large {
  width: 1200px;
  height: 700px;
}
.medium {
  width: 1000px;
}
#header {
  height: 69px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid seashell 1px;
}
#header img {
  height: 50px;
}
#header a {
  color: seashell;
  padding-left: 20px;
}
                            /*Main Section Styling*/
#main-body {
  align-items: center;
  margin-top: 69px;
}
#mission-pic {
  background-image: url(../../resources/images/img-mission-background.jpg);
  align-items: center;
}
#featured {
  margin: 40px;
}
#img-grid {
  flex-wrap: wrap;
  justify-content: center;
}
.img-size {
  width: 300px;
  height: 200px;
}
.grid-item {
  margin: 15px;
}
.grid-item h4 {
  margin-top: 10px;
}
#locations {
  background-image: url(../../resources/images/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
  justify-content: center;
}
#location-grid {
  justify-content: center;
}
.local-grid {
  width: 300px;
}
.opaque {
  opacity: 1;
}
.center-local-grid {
  margin-right: 40px;
  margin-left: 40px;
}
#locations h2 {
  margin: 0 auto 15px auto;
}
#footer div {
  height: 200px;
}
.left-footer {
  text-align: left;
  margin-left: 20px;
}
