                            /*Header Styling*/
* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0 auto;
  text-align: center;
}
#header {
  display: flex;
  height: 69px;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid seashell 1px;
  background-color: black;
}
#header img {
  height: 50px;
}
#header a {
  color: seashell;
  padding-left: 20px;
}
                            /*Main Section Styling*/
#main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 69px;
}
#mission-pic {
  display: flex;
  background-image: url(../../resources/images/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  justify-content: center;
  align-items: center;
}
#mission {
  background-color: black;
  width: 100%;
}
#featured {
  display: flex;
  width: 1000px;
  flex-direction: column;
}
#img-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img-size {
  width: 300px;
  height: 200px;
}
.grid-item h4 {
  margin-top: 10px;
}
